@model ViewOrderModel


<h1>Track Order</h1>
<br />
<style>
  .h-custom {
    height: 100vh !important;
  }

.horizontal-timeline .items {
  border-top: 2px solid #ddd;
}

.horizontal-timeline .items .items-list {
  position: relative;
  margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #ddd;
  top: 0;
  margin-top: -5px;
}

.horizontal-timeline .items .items-list {
  padding-top: 15px;
}
</style>
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card border-top border-bottom border-3" style="border-color: #6aa84f !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #6aa84f;">Delivery Order Details</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p>@Model.Order.OrderCreated.Value.ToString("yyyy-MM-dd")</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>@Model.Order.OrderId</p>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p>DELIVERY COST</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p>$@(Math.Round(Model.Order.Cost, 2))</p>
                </div>

              </div>
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p class="mb-0">TAXES</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p class="mb-0">$@(Math.Round(Model.Order.Cost * 0.13, 2))</p>
                </div>
              </div>
            </div>

            <div class="row my-4">
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                <p class="lead fw-bold mb-0" style="color: #6aa84f;">$@(Math.Round(Model.Order.Cost * 1.13, 2))</p>
              </div>
            </div>

            <p class="lead fw-bold mb-4 pb-2" style="color: #6aa84f;">Tracking Order</p>
            <div class="table-responsive">
            <div class="table-wrapper">
                <table class="table table-striped" style="font-size: 14px">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Distance</th>
                            <th>Last Updated</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var entry in Model.OrderHistory)
                        {
                            if (entry.From != null)
                            {
                                <tr>
                                    <td>@entry.From.Address</td>
                                    <td>@entry.To.Address</td>
                                    <td>@entry.Distance</td>
                                    <td>@entry.ValidFrom</td>
                                    <td>@entry.Status.Name</td>
                                </tr> 
                            }
                            else 
                            {
                                <tr>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>@entry.ValidFrom</td>
                                    <td>@entry.Status.Name</td>
                                </tr> 

                            }
                        }
                             
                    </tbody>
                </table>
            </div>
    </div>